
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Match MD</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>

    </head>
    <body ng-app="matchApp">

        <header>
      <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Patient Origin</a>
        </div>

      </div>
      </nav>
    </header>

    <div class="container" ng-controller="MainController">
         
        <div class="row">
          <div class="col-md-3">
              <img src="1280px-Msf_logo.svg.png" alt="" height="80" />
              <br>
              <button ng-click="lang = 'eng'" class="btn btn-link">English</button>
              <button ng-click="lang = 'fr'" class="btn btn-link">French</button>
              <button ng-click="lang = 'it'" class="btn btn-link">Italian</button>
          </div>
          <div class="col-md-6">
            <h4 ng-show="lang == 'eng'">Search by City</h4>
            <h4 ng-show="lang == 'fr'">Recherche par ville</h4>
            <h4 ng-show="lang == 'it'">Ricerca per città</h4>
             <div class="form-group">
              <input type="text" ng-model="city" class="form-control" ng-change="getMatches()"/>
             </div>
             <a ng-show="lang == 'eng'" href="#/forecast" class="btn btn-primary" ng-click="openFileDialog()">Import file</a>
             <a ng-show="lang == 'fr'" href="#/forecast" class="btn btn-primary" ng-click="openFileDialog()">Importer le fichier</a>
             <a ng-show="lang == 'it'" href="#/forecast" class="btn btn-primary" ng-click="openFileDialog()">Importare un file</a>
           </div>
        </div>

        <br>

        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th ng-show="lang == 'eng'">Match</th>
                <th ng-show="lang == 'eng'">Frequency</th>
                <th ng-show="lang == 'eng'">File Name</th>
                <th ng-show="lang == 'fr'">Rencontre</th>
                <th ng-show="lang == 'fr'">Frequence</th>
                <th ng-show="lang == 'fr'">Nom de Fischer</th>
                <th ng-show="lang == 'it'">Risultato</th>
                <th ng-show="lang == 'it'">Frequence</th>
                <th ng-show="lang == 'it'">Nome del File</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in items">
                <td>{{ item.actual_word }}</td>
                <td>{{ item.totalSeen }}</td>
                <td>
                  <ul ng-repeat="(fileName, fileFreq) in item.fileCounter">
                    <li ng-show="lang == 'eng'">Seen {{ fileFreq }} times in {{ fileName }}</li>
                    <li ng-show="lang == 'fr'">Vu {{ fileFreq }} fois dans {{ fileName }}</li>
                    <li ng-show="lang == 'it'">Visto {{ fileFreq }} volte in {{ fileName }}</li>
                 </ul>
                </td>
              </tr>
            </tbody>
           </table> 
          </div>


<!--         <ul ng-repeat="item in items">
          <li>
            <p>{{ item.actual_word }}<p/>
            <p>Seen {{ item.totalSeen }} times</p>
            <ul ng-repeat="(fileName, fileFreq) in item.fileCounter">
              <li>Seen {{ fileFreq }} times in {{ fileName }}</li>
            </ul>
          </li>
        </ul> -->

    </div>

        <script>
          // You can also require other files to run in this process
          require('./renderer.js')
        </script>

    </body>
</html>
